:root {
  --page-padding: 20px;
}

body {
  padding: var(--page-padding);
  background-color: rgb(51, 51, 51)
}

#pokeball_logo {
  margin-left: 10px;
}

h1 {
  margin-left: auto;
  text-transform: capitalize;
}

.button-class {
  background-color: #b90000;
  border: 2px solid;
  border-radius: 8px;
  color: white;
  height: 120px;
  width: 100%;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  display: inline-block;
  font-size: 32px;
  margin: 4px 2px;
  transition-duration: 0.3s;
}

.button-class:hover {
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid Red;
}

img:hover {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

li {
  padding: 10px;
  display: inline;
}

.modal-title {
  display: inline-block;
  margin-left: auto;
}

/* .modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: left;
} */

.modal-pic {
  float: left;
  max-width: 200px;
  max-height: 200px;
  width: 100%;
}

.modal-type  {
  text-transform: capitalize;
}



@media all and (min-width: 401px) and (max-width: 529px) {
  .button-class {
    padding: 8px 12px;
    font-size: 20px;
  }
}

@media all and (min-width: 305px) and (max-width: 400px) {
  .button-class {
    padding: 4px 4px;
    font-size: 16px;
  }
  .poke-sprite {
    height: 48px;
    width: 48px;
  }
}

@media all and (max-width: 304px) {
  .button-class {
    padding: 4px 4px;
    font-size: 16px;
  }
  .poke-sprite {
    height: 40px;
    width: 40px;
  }
  .modal-body {
    text-align: center;
  }
  .modal-pic {
    float: none;
    padding: 10px, 0px;
  }
}
